{
  "presets": ["es2015", "react"],
  "plugins": [
    "transform-object-rest-spread", 
    "transform-async-to-generator",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }],
    "transform-flow-strip-types"
  ]
}